/*global setings*/


$font: "Open Sans";
//$font: "Noto Sans";

$violet: #7a2165;
$text_def: #595959;
$text_foo: #333;
$bg_block: #f9f9f9;
$bg_red: #c92222;

//font-size

$fsl: 1.5rem;
$fsm: 1.125rem;
$fss: 16px;
$fss-15: 15px;
$fss-14: 14px;
$fss-13: 13px;
$fss-12: 12px;
$fss-11: 11px;
$fss-10: 10px;

// screen-size
$maxWidth: 1400px;
$maxWidth14: 1400px;
$maxWidth13: 1300px;
$maxWidth135: 1350px;
$maxWidth128: 1280px;
$maxWidth12: 1200px;
$maxWidth116: 1160px;
$maxWidth11: 1100px;
$maxWidth1024: 1024px;
$maxWidth10: 1000px;
$maxWidth8: 800px;
$maxWidth7: 700px;